[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Abhinav Arora
	email = 165515798+Maydel-c@users.noreply.github.com
